@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
